1	script1	Canal de video 1
2	script2	Los 2 samurais
3	script3	Los 3 mosqueteros
4	script4	4 bodas para 3 hermanos
7	script7	Casino 777
8	script8	Los odiosos 8
11	script11	Las 11 cabras del averno
12	script12	Doce monos
13	script13	Trece rosas